---
layout: default
---

<div class="home">

  <p><img src="http://hullpixelbot.com/assets/images/BlackLogo.png" alt="Pixelbot Logo" /></p>  
  <h1 class="page-heading">News</h1>
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p>The Hull Pixelbot is a tiny robot from Hull, with a pixel on the top. You can use it to learn robotics, 
  programming, or just to have fun.</p>
  
  <p>If you've built a Hull Pixelbot and want to control it with your PC you can find the HullOS editor <a href="http://hullpixelbot.com/assets/programs/HullOSEditorWindowsPC.exe">here</a>. When you click on here you will be asked where you want to store the downoaded file. If you save the file on your Windows desktop and you can run the editor from there just by starting the program.  Note that this program will work on Windows 10 (and probably other versions of Windows too). A Mac version of the editor will be available soon.</p> 
  
  <p>If you have any problems getting the HullOS editor to work you request help at: help(at)hullpixelbot.com<p>
  
  <p>If you want to build a robot (or do lots of other cool things with hardware) come along to the c4di Hardware Group in Hull. Find out about our meetings 
  
  <a href="https://www.connectedhumber.org/meetups">here</a>.
  
</p>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
