---
layout: default
---

<div class="home">

  <p><img src="http://hullpixelbot.com/assets/images/BlackLogo.png" alt="Pixelbot Logo" /></p>  
  <h1 class="page-heading">News</h1>
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p>The Hull Pixelbot is a tiny robot from Hull, with a pixel on the top. You can use it to learn robotics, 
  programming, or just to have fun.</p>
  <p>We get together to build then at the c4di Hardware Group. Find out about our meetings 
  
  <a href="https://www.eventbrite.co.uk/e/hardware-meetup-tickets-41274216292">here</a>.
  
</p>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
